<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.gradle"
    android:installLocation="preferExternal">

    <application
        android:name=".application.JenkinsTask"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:largeHeap="true"
        android:roundIcon="${appIcon}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>